<h1>Welcome to my Homepage</h1>
<h2>To create a new account, click Sign Up</h2>
<h2>To log in, click Sign In</h2>
<h2>Access Admin Panel: localhost:3000/admin <br> with the following account:</h2>
<h3>Email: admin@gmail.com</h3>
<h3>Password: 123456</h3>